// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #f3f1f1;
$light-gray: #F4F4F4;
$black: #000;
$white: #FFF;
