<style>
  h1 {
    backgroun-color: red;
    color: white;
    font-weight: bolder;
  }
</style>
<h1>IMPORTANTE IMPORTANTE IMPORTANTE IMPORTANTE IMPORTANTE IMPORTANTE IMPORTANTE</h1>
Prezado <%= @user.fullname %>, voce foi convocado pelo orgão <%= @sender.servant.court %> como perito no processo número XXXXXXXX.

Para aceitar, acesse o CPTEC em https://cptec.herokuapp.com/