<h1 style="background-color:red;color:white;font-weight:bolder;">RESPOSTA- Cadastro Eletrônico de Peritos!/h1>
<p>Prezado <%= @investigation.servant.user.full_name %>\<%= @investigation.servant.court %>, declino da indicação feita 
via sistema, uma vez que estou indisponível para atender à convocação enviada e atuar como perito no processo número <%= @proc %>.</p>
<br><br>
<p>Acesse o CPTEC em <a href="https://cptec.herokuapp.com/" target="_blank">https://cptec.herokuapp.com/</a>.</p>
<br><br><br>
<p style="color:red">Mensagem gerada automaticamente. Não responda!</p>
