<h1 style="background-color:red;color:white;font-weight:bolder;">RESPOSTA- Cadastro Eletrônico de Peritos!/h1>
<p>Prezado <%= @sender.full_name %>\<%= @servant.court %>, informo que declino da convocação por mim remetida via CPTEC.</p>
<p>O recusa se deve à indisponibilidade de prestar o referido serviço.</p>
<br><br>
<p>Para aceitar, acesse o CPTEC em <a href="https://cptec.herokuapp.com/" target="_blank">https://cptec.herokuapp.com/</a>.</p>
