<h1>Agora você faz parte do CPTEC</h1>

<p>
  Olá <%= @user.full_name %>, seja bem vindo ao Cadastro de Profissionais Auxiliares da Justiça!
</p>

<p>
  Você já fez seu cadastro inicial, agora só falta inserir suas competências. Não esqueça de anexar todos os documentos 
  comprobatórios em formato PDF.
</p>

<p>
  Acesse <a href="https://cptec.herokuapp.com/" target="_blank">https://cptec.herokuapp.com/</a> para mais orientações.
</p>
<br><br><br>
<p style="color:red">Mensagem gerada automáticament. Não responda!</p>