// Specific CSS for your home-page
body {
    background: midnightblue;
    //padding: 50px 0;
  }

  .h1 {
    font-weight: bold;
    color: whitesmoke
      }
  .my-container {
      background: midnightblue;
      overflow: hidden;
  }
  .my-container:before {
      content: ' ';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0.15;
      background-image: url('');
      background-repeat: no-repeat;
      background-size: cover;
  }
  .my-container h1 {
      padding: 50px;
      text-align: center;
      z-index: 2;
      position: relative;
      color: whitesmoke;
  }

  #bem-vindo {
      font-family: "Lucida Console", "Courier New", monospace;
      font-weight: bold;
      font-stretch: semi-condensed;
      color: whitesmoke;
      text-shadow: silver;
      text-align: left;
      text-justify: inter-word;
  }

  #slide {
    color: whitesmoke;
    text-shadow: 1px 1px midnightblue;
  }

  .carousel {
    width:750px;
  }

  br {
    display: block;
    margin: 10px 0;
    line-height: 150%;
 }