// Specific CSS for your home-page
body {
    background: #white;
    //padding: 50px 0;
  }

  .h1 {
    font-weight: bold;
    color: black
      }
  .my-container {
      background: #0d27039d;
      overflow: hidden;
  }
  .my-container:before {
      content: ' ';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0.15;
      background-image: url('');
      background-repeat: no-repeat;
      background-size: cover;
  }
  .my-container h1 {
      padding: 50px;
      text-align: center;
      z-index: 2;
      position: relative;
      color: rgb(221, 209, 209);
  }

  .sub-container {
    font-weight: bold;
  }

  #bem-vindo {
      font-family: "Lucida Console", "Courier New", monospace;
      font-weight: bold;
      font-stretch: semi-condensed;
      color: rgb(1, 27, 5);
      text-shadow: 2px 2px #447051;
      text-align: left;
      text-justify: inter-word;
  }

  #slide {
    color: rgb(9, 14, 9);
    text-shadow: 2px 2px #f7f7f7;
  }
