// Specific CSS for your home-page
body {
    background: transparent;
    opacity: 0.9;
  }

  .h1 {
    font-weight: bold;
    color: black
      }
  .my-container {
      background: rgb(0, 0, 0);
      overflow: hidden;
  }
  .my-container:before {
      content: ' ';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0.15;
      background-image: url('');
      background-repeat: no-repeat;
      background-size: cover;
  }
  .my-container h1 {
      padding: 50px;
      text-align: center;
      z-index: 2;
      position: relative;
      color: rgb(0, 0, 0);
  }

  #bem-vindo {
      font-family: arial;
      font-weight: bold;
      font-stretch: semi-condensed;
      color: rgb(0, 0, 0);
      text-shadow: silver;
      text-align: left;
      text-justify: inter-word;
  }

  br {
    display: block;
    margin: 10px 0;
    line-height: 150%;
 }

 #first-home {
    font-size: 60px;
    text-transform: uppercase;
    color: black;
 }

 #cap-home {
    font-size: 20px;
 }

 #cap-home-2 {
  font-size: 20px;
  color: black
}

.banner{
    width: 100vw;
    height: 40vh;
    left: 0;
    position: fixed;
    background-color: rgb(67, 112, 172);
    background-image: url("banner.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

#banner-button {
  display: block;
  width: 16%;
  height: 50px;
  color: white;
  background-color: rgb(85, 197, 85);
  border-radius: 20px;
  text-transform: uppercase;
  font-weight: bold;
  margin-left:80%;
  margin-top:8%;
  position: relative;
  border:none
}

#banner-text {
  color: white;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 56px;
  text-align: justify;
  margin-left:4%;
  margin-right:44%;
  margin-top:4%;
  position:absolute;
}

#baixo {
  position: relative;
  border: 1px solid blue;
  top: 45vh;
  height: 30vh;
}

#baixo .card {
  border: 3px solid green;
}

#baixo p {
  margin: auto;
  text-align: center;
}

footer {
  width: 100vw;
  position: fixed;
  bottom: 0;
  background-color: #455f92;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
