<header class="br-header">
    <div class="container-lg">
        <div class="flex-container">
        <div class="logo">
            <img src= "/CPTEC.png" alt="logo">
            <div class="sign"></div>
        </div>
        <div class="actions">
            <div class="links">
            <ul>
                <li class="title">Acesso Rápido</li>
                <li class="nav-item active">
          <%= link_to "O projeto", "/about", class: "nav-link" %>
        </li>
        <li class="nav-item active">
          <%= link_to "Orientações", "/guidance", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Consulta pública", "#", class: "nav-link" %>
            </ul>

            <button class="br-button circle small d-none" type="button" data-trigger aria-label="Abrir Acesso Rápido"><i class="fas fa-ellipsis-v" aria-hidden="true"></i>
            </button>
            </div>
            <div class="functions">
            <ul>
                <li class="title">Funcionalidades do Sistema</li>
                <li>
                <button class="br-button circle small" type="button" aria-label="Funcionalidade 1"><i class="fas fa-chart-bar" aria-hidden="true"></i><span class="text">Funcionalidade 1</span>
                </button>
                </li>
                <li>
                <button class="br-button circle small" type="button" aria-label="Funcionalidade 2"><i class="fas fa-headset" aria-hidden="true"></i><span class="text">Funcionalidade 2</span>
                </button>
                </li>
                <li>
                <button class="br-button circle small" type="button" aria-label="Funcionalidade 3"><i class="fas fa-comment" aria-hidden="true"></i><span class="text">Funcionalidade 3</span>
                </button>
                </li>
                <li>
                <button class="br-button circle small" type="button" aria-label="Funcionalidade 4"><i class="fas fa-adjust" aria-hidden="true"></i><span class="text">Funcionalidade 4</span>
                </button>
                </li>
            </ul>
            <button class="br-button circle small d-none" type="button" data-trigger aria-label="Abrir Funcionalidades do Sistema"><i class="fas fa-th" aria-hidden="true"></i>
            </button>
            </div>
            <div class="search-btn">
            <button class="br-button circle small" type="button" aria-label="Abrir Busca"><i class="fas fa-search" aria-hidden="true"></i>
            </button>
            </div>
            <div class="login">
            <button class="br-button small" type="button" aria-label="Entrar"><i class="fas fa-user" aria-hidden="true"></i><span class="ml-1">Entrar</span>
            </button>
            </div>
            <div class="avatar d-none">
            <div class="br-badge is-danger">
                <div class="icon">5</div>
                <div class="content">
                <div class="br-avatar">
                    <div class="image"><img src="" alt="Avatar"></div>
                </div>
                </div>
            </div>
            <button class="br-button circle small" type="button" aria-label="Abrir Menu de usuário"><i class="fas fa-angle-down" aria-hidden="true"></i>
            </button>
            </div>
        </div>
        <div class="menu">
            <button class="br-button circle small" type="button" aria-label="Abrir Menu Principal"><i class="fas fa-bars" aria-hidden="true"></i>
            </button>
            <div class="title"> Cadastro Eletrônico de Peritos e Órgãos Técnicos  (CPTEC)</div>
            <div class="subtitle">Subtítulo do Cabeçalho</div>
        </div>
        <div class="search">
            <div class="br-input has-icon">
            <label></label>
            <input class="has-icon" type="text" placeholder="O que você procura?" aria-label="Texto da pesquisa">
            <button class="icon" type="button" aria-label="Pesquisar"><span class="icon"><i class="fas fa-search" aria-hidden="true"></i></span></button>
            </div>
            <button class="br-button circle small search-close" type="button" aria-label="Fechar Busca"><i class="fas fa-times" aria-hidden="true"></i>
            </button>
        </div>
        </div>
    </div>
</header>


