<div class="guidance">
 <h1>Como receber os honorários periciais?</h1>
 <br>
 <p>Os tribunais possuem regras próprias para o processamento e recebimento dos honorários perciciais.</p>
 <p>Na Justiça Estadual e na Federal, existem dois tipos de honorários. Os que são pagos pelas partes segundo
 proposta realizada pelo perito e depois fixada pelo juiz, antes de começar a perícia.
 Nesse caso, é possível solicitar, através de petição própria, o depósito integral dos honorários, em conta da justiça, e 50% de adiantamento.
 Após a entrega do laudo e passado o prazo de esclarecimento deste, o perito recebe a totalidade do valor.</p>
<p>Quando as partes não possuirem condições econômicas - a Justiça paga as suas despesas processuais, inclusive os honorários do perito.
 O valor é pago ao final do processo.</p>
<p>Na Justiça Federal, o perito não precisa se preocupar com os procedimentos para receber os honorários da Assistência Judiciária Gratuita:
o cartório ou a secretaria da vara irá avisar o momento em que ele deverá fornecer dados de sua conta bancária e, depois, avisá-lo de que
foi feito o depósito.</p>
<p>Já ára a Justiça Estadual, os meios de recebimento estão sujeitos às normas internas de cada tribunal.</p>
<br>

    <p>
      Equipe Cadastro de Auxiliares da Justiça <br>
      Batch#513-LeWagon<br>
      Escola Nacional de Administração Pública
    </p>
</div>

