<title>CPTEC - Cadastro Eletrônico de Peritos e Órgãos Técnicos</title>

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2"> 

        <div class="my-container">
            <h1 id="bem-vindo">Cadastro Eletrônico de Peritos e Órgãos Técnicos</h1>
        </div>

        <div class="sub-container">
            <p>Bem-vindo ao sistema CPTEC - Cadastro Eletrônico de Peritos e Órgãos Técnicos.</p>
        <div class="sub-container">

        </div>
    </div>
</div>

<div class="container">
    <p>Consultar cadastro em .....</p>
</div>