<title>CPTEC</title>

<div class="container">
<div class="row">
<div class="col-md-8 col-md-offset-2"> 

<div class="my-container">
    <h1 id="bem-vindo">Cadastro Eletrônico de Peritos e Órgãos Técnicos</h1>
</div>
<p>Faça sua consulta em ....</p>
  
</div>
</div>
</div>