<title>CPTEC - Cadastro Eletrônico de Peritos e Órgãos Técnicos</title>

<body class="template-base">
    <aside>
        <ul class="accessibility-links">
            <!-- Links de acessibilidade -->
        </ul>
    </aside>
    <header class="br-header" sticky>
        <div class="container-lg">
            <!-- Conteúdo do Header-->
            <div class="scrim-menu">
                <nav class="br-menu" id="main-nav" aria-label="Menu Global">
                    <!-- Menu Principal-->
                </nav>
            </div>
        </div>
    </header>
    <main>
        <div class="container-lg">
            <div class="row">
                <div class="context-menu col-sm-6 col-md-4" id="context-nav">
                    <nav class="br-menu" aria-label="Menu Contextual">
                        <a class="header">
                            <div class="support">
                                <i
                                    class="fas fa-angle-up"
                                    aria-hidden="true"
                                ></i>
                            </div>
                            <div class="content">Menu Contextual</div></a
                        >
                        <div class="folders" aria-label="Menu auxiliar">
                            <div class="folder">
                                <ul>
                                    <!-- Lista de links -->
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
                <div class="col container-main">
                    <div class="br-breadcrumb pt-3">
                        <ul class="crumb-list">
                            <!-- Lista de links breadcrumb -->
                        </ul>
                    </div>
                    <div id="main-content">
                        <!-- Conteúdo da Página -->
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="br-footer">
        <div class="container-lg">
            <!-- Conteúdo do Footer-->
        </div>
    </footer>
    <script src="assets/design-system/dist/js/dsgov.js"></script>
</body>
>>>>>>> 927ee0b793cc900e7cd91b382a31e0efc6714333
