<title>CPTEC - Cadastro Eletrônico de Peritos e Órgãos Técnicos</title>

<div class="br-item">
    Conteúdo do item
</div>

<div id="first-cont">
  <div class="container">
    <h1 id="first-home">Cadastro de Auxiliares da Justiça</h1>
    <p id="cap-home">Bem-vindo ao sistema CPTEC - Cadastro Eletrônico de Peritos e Órgãos Técnicos.</p>
    
    <p id="cap-home">Consultar cadastro em .....
    
    <p id="cap-home">......</p>

    <p id="cap-home">......</p>

    <p id="cap-home">......</p>

    <p id="cap-home">......</p>

    <p id="cap-home">......</p>
  </div>
</div>

<div id="sec-cont">
  <div class="container">
  <p id="cap-home-2">......</p>
  
  <br>

  <p id="cap-home-2">......</p>
  
  <br>

  <p id="cap-home-2">......</p>
  
  <br>

  <p id="cap-home-2">......</p>
  
  <br>

 </div>
</div>