<div class="about">
 <p>Bem-vindos!</p>
 <p>O Cadastro de Auxiliares da Justiça é uma plataforma para que os profissionais liberais e entidades possam se habilitar a prestar
    seus serviços de perícia e exames técnicos nos processos judiciais - e que também serve de apoio aos magistrados – porque proporciona
    a pesquisa por especialidade e Comarca de atuação. </p>
    <p> Nela o profissional pode indicar se aceita a nomeação em processos que tramitam sob o benefício da assistência judiciária gratuita.</p>
    <p> O sistema permite o sorteio eletrônico entre profissionais da mesma área do conhecimento e localidade. Também possibilita
    a remessa de e-mail ao profissional escolhido, diretamente da plataforma, recursos que poderão ser utilizadas a critério do magistrado.</p>
    <p>No desenvolvimento do projeto, foram observadas as normas relativas à matéria: a Resolução 233/2016-CNJ,
    bem como a Lei 13.709/2018 (Lei Geral de Proteção de Dados).</p>
    <p>Tudo isso para apoiar a prestação jurisdicional e trazer celeridade aos atos processuais que pedem rápida solução.</p>
    <p>Saudações,</p>
    <p>
      Equipe Cadastro de Auxiliares da Justiça <br>
      Batch#513-LeWagon<br>
      Escola Nacional de Administração Pública
    </p>
</div>


