.navbar-cptec {
  justify-content: space-between;
  background: rgb(223, 236, 173);
  font-family: "Lucida Console", "Courier New", monospace;
  font-weight: bold;
  font-stretch: semi-condensed;
}

.navbar-cptec .navbar-collapse {
  flex-grow: 0;
}

.navbar-cptec .navbar-brand img {
  width: 40px;
}
