.navbar-lewagon {
  justify-content: space-between;
  background: white;
  //background-image: url("surface.png");
  font-size: 20px;
 }

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
.navbar-lewagon .blocktext {
    text-align: right;
    width: 6em
}

.nav-link.show, .navbar-light .navbar-nav .nav-link.active {
  color: black;
}