<p>Olá <%= @resource.email %>!</p>

<p>Alguém requisitou a alteração da senha de sua conta. Se foi você isto pode ser feito pelo endereço abaixo:.</p>

<p><%= link_to 'Alterar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se não foi você, ignore esta mensagem.</p>
<p>Sua senha não será alterada até que faça o procedimento e crie uma nova senha.</p>
