<p>Olá <%= @resource.email %>!</p>

<p>Sua conta foi bloqueada por excessivas tentativas de acesso.</p>

<p>Clique no endereço abaixo para desbloquear sua conta:</p>

<p><%= link_to 'Desbloquear minha conta', unlock_url(@resource, unlock_token: @token) %></p>
